.header {
  display: flex;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.list__item {
  box-sizing: border-box;
  border-radius: 18px;
  margin-right: 20px;
  list-style: none;
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__item_focused {
  border: 6px solid tomato;
}

.main {
  display: flex;
}
