.header {
  display: flex;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  list-style: none;
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  margin-bottom: 20px;
}

.main {
  display: flex;
}

.focusable-element {
  transition: transform 0.3s;
  border-radius: 18px;
  box-sizing: border-box;
}

.focusable-element_focused {
  border: 6px solid tomato;
  transform: scale(1.1);
}
